// var
@bannerHeight: 600px;
@bannerBkColor: #364d79;

// css
.HomePageStyle {
	&>.ant-carousel {
		&>.HomePageCarousel {
			height: @bannerHeight;
			background: @bannerBkColor;
			overflow: hidden;
		}
	}
}